---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UkTIPXThvK/FTIGvJVAzPua3WWce7sWJne8ZaUcF+OA=
      X-Ms-Date:
      - Fri, 21 Apr 2017 06:52:25 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestsetpermissionsalltruewithtimeout
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:aFQw5nosDLxnR34IIurqM5lSZn6rNUMlT3XBnVCM5sc=
      X-Ms-Date:
      - Fri, 21 Apr 2017 06:52:26 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestsetpermissionsalltruewithtimeout?comp=acl&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
