---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:WByr05kNPyU0/1gH651YzKTWwfCy5VKotQNjTea3btQ=
      X-Ms-Date:
      - Fri, 21 Apr 2017 06:52:26 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-159storagequeuesuitetestsetpermissionsalternatetruenotime
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>ru</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:CmakOVBWj4rooqQ4+Hbi8en3rmeLiMgvwMn6+Zs5DG8=
      X-Ms-Date:
      - Fri, 21 Apr 2017 06:52:26 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-159storagequeuesuitetestsetpermissionsalternatetruenotime?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
