---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:nfbqPMtKebt0QJRcpNsl4howMs05hCQ7+P7n8pkyXIA=
      X-Ms-Date:
      - Mon, 17 Apr 2017 22:53:38 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:fzJEjiBcSFB/vepN1oODMZBhN20BKM2u2KztQ3FrDec=
      X-Ms-Date:
      - Mon, 17 Apr 2017 22:53:39 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:Rou7RGOQMDV/i5UARFVZvdRG/sc7e48WToYRxbMbOrE=
      X-Ms-Date:
      - Mon, 17 Apr 2017 22:53:39 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-155storagequeuesuitetestgetpermissionsalltruewithtimeout?comp=acl&timeout=30
    method: GET
  response:
    body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E[...]
[...]
